body {
background-color: #CaCaCa;
margin-left: 5%;
margin-right: 5%;
font-family: 'Arapey', serif;

}
.header {
background-color: #BABABA;
min-width: 80%;
min-height: 6em;
z-index: 3;
margin: 1% 1% 2% 1%;
/*margin-left: 10%;*/
/*margin-right: 10%;*/
/*border-left:.1em solid #4d4d4d;
border-right:.1em solid #4d4d4d;*/
border-bottom-right-radius: 20%;
/*border-top-right-radius: 20%;*/
/*border-radius: 20%;*/
 -webkit-box-shadow: 0 10px 8px #4d4d4d;
 -moz-box-shadow: 0 10px 8px #4d4d4d;
 box-shadow: 0 10px 8px #4d4d4d;
}
.underline {
text-decoration: underline;
}
h3 {

font-size: 1.2em;
font-family: Times;
margin: 5% auto;
}
h3 > a {
color:#4d4d4d;
}
#name {
float:left;
padding-left: 2%;
font-family: Times;
}
h1 {
color: #4d4d4d;
}
#image {
margin-left: 1%;
margin-right: 1%;
/*border-left:.1em solid #4d4d4d;
border-right:.1em solid #4d4d4d;*/
background-color: #4d4d4d;
border-top-right-radius: 5%;
color: white;
border-bottom-right-radius: 5%;
 -webkit-box-shadow: 0 10px 8px #4d4d4d;
 -moz-box-shadow: 0 10px 8px #4d4d4d;
 box-shadow: 0 10px 8px #4d4d4d;
}
#image > img {
max-width: 49%;
border-radius: 3%;
border-top-right-radius: 70%;
border-bottom-left-radius: 0%;
border-top-left-radius: 0%;
-webkit-box-shadow: 5px 5px 8px #1C1C1C;
-moz-box-shadow: 5px 5px 8px #1C1C1C;
box-shadow: 5px 5px 8px #1C1C1C;
float: left;
 margin-right: 2%;
}
#about {
max-width: 40%;
font-family: 'Arapey', serif;
list-style-type: none;
display: inline;
margin-top: 5%;
}
h4 {
color: #BABABA;
text-align: center;
padding-top: 3%;
}
li {
list-style-type: none;
}
p {
line-height: 1.7;
padding: auto 5%;
width: 95%;
font-size: 1em;
text-indent: 3em;
margin: 2% auto;
}
.rightLists {
margin-left: -9%;
padding-right: 3%;
}
	.project > a:hover {
	color: black;
	}
#hEd{
margin-left: -6%;
}

#interests {
width: 40%;
margin-right: 9%;
float: right;
}
#quote {
text-align: center;
font-family: 'Quintessential', cursive;
font-size: 1.2em;
line-height: 1.5;
width:80%;
margin: 2% 10%;
display: inline-block;
border-top: 1px solid white;

}
ul {
line-height: 2;
}

#bottom {
margin: 2% 1% 1% 1%;
background-color: #BABABA;
float: right;
border-top-right-radius: 50%;
 -webkit-box-shadow: 0 10px 8px #4d4d4d;
 -moz-box-shadow: 0 10px 8px #4d4d4d;
 box-shadow: 0 10px 8px #4d4d4d;
}
#social {
margin: auto 20% auto auto;
}
a > img {
max-width: 10%;
text-decoration: none;
 -webkit-box-shadow: 0 10px 8px #4d4d4d;
 -moz-box-shadow: 0 10px 8px #4d4d4d;
 box-shadow: 0 10px 8px #4d4d4d;
}
a > img:hover {
-webkit-box-shadow: 1px 3px 60px #4d4d4d;
-moz-box-shadow: 1px 3px 60px #4d4d4d;
box-shadow: 1px 3px 60px #4d4d4d;
}
#twitter {
border-radius: 100%;
}
a {
text-decoration: none;
padding-right: 19%;
color: inherit;
}
.buttons {
float:right;
border-radius: 5px;
margin: 3% 2%;
padding-left: 1%;
padding-right: 1%;
height: 2em;
}
.rightButton {
margin-right: 5%;
}
.highlighted {
    -webkit-box-shadow: 0 5px 8px #4d4d4d;
    -moz-box-shadow: 0 5px 8px #4d4d4d;
    box-shadow: 0 5px 8px #4d4d4d;
    cursor:pointer;
    color: #4d4d4d;
}
.highlighted:hover {
background-color: #4d4d4d;
color: white;
}
/*.highlighted > a:hover{
color: white;
}*/
.highlighted2 {
	-webkit-box-shadow: 0 0 8px #BABABA;
    -moz-box-shadow: 0 0 8px #BABABA;
    box-shadow: 0 0 8px #BABABA;
}
.tile_change {
background-color:green;
color:blue;
}
.indent {
text-indent: 1em;
display: inline-block;
}
#inline {
display: inline;

}